@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click to see complete list of existing quotes in <a asp-page="/DeskQuotes/Index">Mega Desk</a>.</p>
</div>
