@page
@model MegaDeskRazor.Pages.DeskQuotes.CreateModel

@{
    ViewData["Title"] = "Create";
    var today = DateTime.Today;
}

<h1>Create</h1>

<h4>DeskQuote</h4>
<hr />
<div class="container">
    
    <form method="post">
        <div class="row">
            <div class="col">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DeskQuote.FirstName" class="control-label"></label>
                    <input asp-for="DeskQuote.FirstName" class="form-control" />
                    <span asp-validation-for="DeskQuote.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeskQuote.LastName" class="control-label"></label>
                    <input asp-for="DeskQuote.LastName" class="form-control" />
                    <span asp-validation-for="DeskQuote.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeskQuote.Width" class="control-label"></label>
                    <input asp-for="DeskQuote.Width" name="width" class="form-control" />
                    <span asp-validation-for="DeskQuote.Width" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="DeskQuote.Depth" class="control-label"></label>
                    <input asp-for="DeskQuote.Depth" name="depth" class="form-control" />
                    <span asp-validation-for="DeskQuote.Depth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeskQuote.SurfaceMaterial" class="control-label"></label>
                    <select asp-for="DeskQuote.SurfaceMaterial" name="surfaceMaterial">
                        <option value="Oak">Oak</option>
                        <option value="Laminate">Laminate</option>
                        <option value="Pine">Pine</option>
                        <option value="Rosewood">Rosewood</option>
                        <option value="Veneer">Veneer</option>
                    </select>
                    <span asp-validation-for="DeskQuote.SurfaceMaterial" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="DeskQuote.NumDrawers" class="control-label"></label>
                    <input asp-for="DeskQuote.NumDrawers" name="numDrawers" class="form-control" />
                    <span asp-validation-for="DeskQuote.NumDrawers" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeskQuote.DeliveryTime" class="control-label"></label>
                    <select asp-for="DeskQuote.DeliveryTime" name="deliveryTime">
                        <option value="14">14</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                    </select>
                    <span asp-validation-for="DeskQuote.DeliveryTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
            </div>
    </form>
   
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
